<h1>Listing iterations</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Project</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @iterations.each do |iteration| %>
  <tr>
    <td><%= iteration.name %></td>
    <td><%= iteration.description %></td>
    
    <td><%= link_to 'Show', iteration %></td>
    <td><%= link_to 'Edit', edit_iteration_path(iteration) %></td>
    <td><%= link_to 'Destroy', iteration, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Iteration', new_iteration_path %>
<%#= link_to "back", project_path%>
